<?xml version="1.0" encoding="UTF-8"?>
<Configuration Status="DEBUG"  packages="sm.clagenna.crypt.log">
	<Appenders>
		<File name="rsa" fileName="rsaData.log" append="true">
			<PatternLayout pattern="%d %-5p %c{2}:%L - %m%n"/>
		</File>
		<!-- vedi pattern https://logging.apache.org/log4j/2.x/manual/layouts.html -->
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p %c{2}:%L - %m%n"/>
		</Console>
		<MioAppender name="MIOAPPENDER">
			<!--  PatternLayout pattern="serial:%sn |Date:%d |level:%level |class:%logger |method:%M() |line:%L |Location: %l |message:%m%n"/ -->
			<PatternLayout pattern="%logger[%L]\t%d\t%level\t%m%n"/>
		</MioAppender>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<!--
 <AppenderRef ref="STDOUT" / 
			-->
			<AppenderRef ref="MIOAPPENDER"/>
			<AppenderRef ref="rsa"/>
		</Root>
		<logger name="org.apache.xml" level="info">
			<AppenderRef ref="STDOUT"/>
		</logger>
	</Loggers>
</Configuration>
